extends layout
block title
	| Об игре
block content
	div.jumbotron
		h1(style='margin-left: -0.04em;') uonline
		p Первая в мире текстовая браузерная MMORPG. Альфа-версия.
		p
			a.btn.btn-primary.btn-lg(href='/register/', role='button') Регистрация
			| #{' '}
			a.btn.btn-default.btn-lg(href='/login/', role='button') Вход
