extends layout
block title
	| Stats
block content
	// Load the AJAX API
	script(src='http://www.google.com/jsapi')
	script.
		// Load the Visualization API and the piechart package.
		google.load('visualization', '1.0', {'packages':['corechart']});

		// Set a callback to run when the Google Visualization API is loaded.
		google.setOnLoadCallback(drawChart);

		// Callback that creates and populates a data table,
		// instantiates the pie chart, passes in the data and
		// draws it.
		function drawChart() {

			// Create the data table.
			var data = google.visualization.arrayToDataTable([
				['Date and time', 'Time elapsed, ms'],
				{% for i in stats %}
					['', {{ i * 1000 }}],
				{% endfor %}
			]);

			// Create and draw the visualization.
			var options = {
				curveType: "function",
				height: 350, //width: 800,
				vAxis: {
					viewWindowMode: 'maximized'
				},
				title: 'Response time chart'
			}

			new google.visualization.LineChart(document.getElementById('chart_div')).
				draw(data, options);
			}
	// Div that will hold the pie chart
	#chart_div
