# Generated docs
docs/

# Used by tests
test/
lib-cov/
report.lcov
jsc_dump.json

# Third-party tools
node_modules/
bower_components/

# Browser assets
_build/
assets/

## Tool-specific

# NetBeans
nbproject/

# gedit backups
*~
