# Project-specific
keyring
tablestate
maintenance
templates_cache/

# Used by tests
test/
lib-cov/

# Third-party tools
node_modules/
vendor/

# PHPUnit reports
code-coverage-report/

# For Windows, legacy
htmlcompressor.jar
yuicompressor.jar

# Browserified Node modules
browserified/

## Tool-specific

# NetBeans
nbproject/

# gedit backups
*~
