# Project-specific
keyring
tablestate
maintenance
vendor/

# Compressed templates and their cache
templates_cache/
templates/

# NetBeans
nbproject/

# For Windows
htmlcompressor.jar
yuicompressor.jar

# For tests
test/
code-coverage-report/

# Third-party
vendor/
