<Files keyring>
order allow,deny
deny from all
</Files>

AddDefaultCharset utf-8

<IfModule mod_rewrite.c>
RewriteEngine On

# Next lines fix mod_rewrite trailing slash bug
RewriteCond %{REQUEST_FILENAME} -d
RewriteCond %{REQUEST_URI} (.*)
RewriteRule (.+)[^/] %1/ [R=301,L]

RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]
RewriteRule ^index\.php$ - [L]
RewriteRule .* index.php?instance=$0 [QSA,L]
</IfModule>

