{% extends "layout.twig" %}

{% block title %}Технические работы{% endblock title %}

{% block content %}
			<div>Извините! Запрос не может быть выполнен, потому что на сервере идут технические работы. {% if not message %}Администратор, включивший этот режим, никак не прокомментировал своё решение - возможно, случилось что-то непредвиденное. {% else %}Вот что сказал администратор, включивший этот режим: {{ message }} {% endif %}</div>
			<a href="/">Перейти на главную</a>
{% endblock content %}
