<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Технические работы</title>
	</head>
	<body>
		<div style="max-width: 60em; margin: 0 auto; text-align: center;">
			<h1>Извините!</h1>

			<p style="margin-bottom: 2.5em;">Запрос не может быть выполнен, потому что на сервере идут технические работы.</p>

			{% if not message %}
				<p>Администратор, включивший этот режим, никак не прокомментировал своё решение &mdash; возможно, случилось что-то непредвиденное.</p>
			{% else %}
				<p>Вот что сказал администратор, включивший этот режим:</p>
				<p><span style="color: gray; font-size: 125%;">&laquo;</span>{{ message }}<span style="color: gray; font-size: 125%;">&raquo;</span></p>
			{% endif %}
		</div>
	</body>
</html>
