{% extends "layout.twig" %}

{% block title %}Технические работы{% endblock title %}

{% block content %}
			<p>Извините! Запрос не может быть выполнен, потому что на сервере идут технические работы.</p>
			{% if not message %}
				<p>Администратор, включивший этот режим, никак не прокомментировал своё решение &mdash; возможно, случилось что-то непредвиденное.</p>
			{% else %}
				<p>Вот что сказал администратор, включивший этот режим:</p>
				<p>&laquo;{{ message }}&raquo;</p>
			{% endif %}
{% endblock content %}
