extends layout
block title
	| Инвентарь
block content
	div.page-header
		h1 Инвентарь
	if fight_mode == true
		a.pjax.btn.btn-default(href='/game/')
			i.glyphicon.glyphicon-chevron-left
			| #{' '}Вернуться в бой
		hr
	p Инвентарь пуст.
