extends layout
block title
	| Вход
block content
	div.page-header
		h1 Вход

	if error === true
		div.alert.alert-danger
			button.close(type="button", data-dismiss="alert", aria-hidden="true") &times;
			b Неверный логин или пароль.
			| #{' '}Проверьте&nbsp;&mdash; может, вы опечатались.

	form.pjax(role='form', method='post', action='/action/login')
		div.row
			div.col-lg-3.col-md-4.col-sm-6
				.form-group
					label(for='username') Логин
					input#username.form-control(type='text', maxlength='32', name='username', value=user.username, required, autofocus)
				.form-group
					label(for='password') Пароль
					input#password.form-control(type='password', maxlength='32', name='password', required)
				.form-group
					button.btn.btn-default(type='submit') Войти
