mixin tr_td_ch(name, value)
	tr
		td= name
		td= value


extends layout
block title
	| Инвентарь
block content
	div.page-header
		h1 Молодой лесной волк&nbsp;&nbsp;
			small монстр 80-го уровня
	.row
		.col-sm-12
			p Это молодой лесной волк. Он ебёт молодых женщин.
	.row
		.col-sm-6
			h3 Характеристики
			table.table.table-striped.table-hover
				+tr_td_ch('Здоровье', 250)
				+tr_td_ch('Мана', 110)
				+tr_td_ch('Энергия', 11)
				+tr_td_ch('Сила', 11)
				+tr_td_ch('Защита', 11)
				+tr_td_ch('Ловкость', 33)
				+tr_td_ch('Точность', 11)
				+tr_td_ch('Интеллект', 22)
				+tr_td_ch('Инициатива', '11...14')
		.col-sm-6
			h3 Характеристики
			table.table.table-striped.table-hover
				+tr_td_ch('Здоровье', 250)
				+tr_td_ch('Мана', 110)
				+tr_td_ch('Энергия', 11)
				+tr_td_ch('Сила', 11)
				+tr_td_ch('Защита', 11)
				+tr_td_ch('Ловкость', 33)
				+tr_td_ch('Точность', 11)
				+tr_td_ch('Интеллект', 22)
				+tr_td_ch('Инициатива', '11–14')
