{% extends "layout.twig" %}

{% block title %}
	{% if code == 404 %}
	404 &mdash; Страница не найдена
	{% else %}
		{% if code == 500 %}
		500 &mdash; Внутренняя ошибка сервера
		{% else %}
		Ошибка {{ code }}
		{% endif %}
	{% endif %}
{% endblock title %}

{% block content %}
			<div class="page-header">
			{% if code == 404 %}
				<h1>404 <small>Страница не найдена</small></h1>
			{% else %}
				{% if code == 500 %}
					<h1>500 <small>Внутренняя ошибка сервера</small></h1>
				{% else %}
					<h1>Ошибка {{ code }}</h1>
				{% endif %}
			{% endif %}
			</div>

			<p><a href="/">Перейти на главную</a></p>
{% endblock content %}
