{% extends "layout.twig" %}

{% block content %}
			<div class="hero-unit">
				<h1 style="margin-left: -0.075em;">uonline</h1>
				<p>Добро пожаловать в наш маленький мир.</p>
				{# <!-- <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p> --> #}
			</div>

			<div class="row">
				<div class="span4">
					<h2>Лучшая игра в мире</h2>
					<p>На слово пацана отвечаю, ёба! У нас охуенный движок! У нас всё охуенное! Ваще всё! Я так сказал! И Вася тоже! И Pжавый!</p>
					<p><a class="btn" href="#">Узнайте больше &raquo;</a></p>
				</div>
				<div class="span4">
					<h2>Очень клёвый AI</h2>
					<p>Его нет, и, следовательно, он идеален. Ваще чоткий, коpоче. Да. Вот так вот.</p>
					<p><a class="btn" href="#">Узнайте всё &raquo;</a></p>
				</div>
				<div class="span4">
					<h2>Отличный сюжет</h2>
					<p>А вот тут без шуток. Мы в него душу вложили, так-то. Не то что остальные.</p>
					<p><a class="btn" href="#">Увидеть &raquo;</a></p>
				</div>
			</div>
{% endblock content %}
