{% extends "layout.twig" %}

{% block content %}
			<div class="page-header"><h1>Регистрация</h1></div>

			{% if (error == true) %}
			<div class="alert alert-error">
				<a href="#" class="close" data-dismiss="alert">&times;</a>
				<b>Ой! Во введённых данных что-то не так.</b> Исправьте ошибки и попробуйте ещё раз.
			</div>
			{% endif %}

			<form class="form-horizontal" method="post" action="index.php?instance=register">
				<div class="control-group {% if (invalidLogin == true) or (loginIsBusy == true) %}error{% endif %}">
					<label class="control-label" for="user">Логин</label>
					<div class="controls">
						<input type="text" id="user" name="user" maxlength="32" value="{{ user }}">
						<span class="help-inline"><small>От 2 до 32 символов, [a-zA-Z0-9а-яА-Я_- ].</small></span>
					</div>
				</div>
				<div class="control-group {% if (invalidPass == true) %}error{% endif %}">
					<label class="control-label" for="pass">Пароль</label>
					<div class="controls">
						<input type="password" id="pass" name="pass" maxlength="32">
						<span class="help-inline"><small>От 4 до 32 символов, [a-zA-Z0-9!@#$%^&amp;*()_+]</small></span>
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<button type="submit" class="btn">Зарегистрироваться</button>			
					</div>
				</div>
			</form>
{% endblock content %}
